$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$goldLike: rgb(209, 183, 32);

$grain: #d7cec7;
$blackboard: #565656;
$oxblood: #76323f;
$tan: #c09f80;

// $blueLike: #337ab7;
$blueLike: $oxblood;

body {
    background-color: $grain;
    button {
        background-color: $oxblood!important;
    }
}

div#page {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

// can add Boostrap overrides, additional Sass/CSS below...
.buttonGroup {
    margin-top: 10px;

    button {
        margin-right: 10px;
    }
}

img.avatar {
    height: 50px;
}

img.mediumAvatar {
    height: 200px;
}

div.scrollingRegion {
    height: 600px;
    overflow-y: scroll;
}

table#repo-results-table {

    thead {

        tr {
            border-left: solid black 1px;
            border-right: solid black 1px;
            border-top: solid black 1px;
            border-bottom: solid black 1px;

            th {
                background-color: black;
                color: gold;
                border-bottom: solid black 1px;

                &.sortable {
                    color: green;
                    text-align: right;
                    cursor: pointer;
                    &.sorted-ascending {
                        color: blue;
                    }
                    &.sorted-descending {
                        color: red;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            border-left: solid black 1px;
            border-right: solid black 1px;
            border-bottom: none;
            border-top: none;

            td {
                &.repoName {
                    color: $blueLike;
                    font-weight: bold;
                    font-size: 1.5em;
                }
                &.ownerLogin {
                    a:hover {
                        cursor: pointer;
                    }
                }
                &.avatar {
                    a {
                        img {
                            cursor: pointer;
                        }
                    }
                }
                &.stars, &.size {
                    text-align: right;
                    font-weight: bold;
                }
                &.language {
                    color: red;
                    font-weight: bolder;
                }
            }

            &:nth-child(2n) td {
                border-bottom: solid black 1px;
            }
            &:nth-child(4n), &:nth-child(4n-1) {
                background-color: white;
            }
            &:nth-child(4n-2), &:nth-child(4n-3) {
                background-color: rgb(202, 202, 202);
            }
        }
    }
}

table.userTable {

    margin-top: 20px;
    font-size: 14pt;

    tbody {
        tr {
            td {
                padding-top: 10px;

                a:hover {
                    cursor: pointer;
                }

                &:nth-child(1) {
                    font-weight: bold;
                    color: darkblue;
                    padding-right: 10px;
                }
            }
        }
    }
}

div.banner {

    $height: 20vh;
    $width: 60vw;

    position: absolute;
    left: (100vw - $width) / 2;
    top: (100vh - $height) / 6;
    width: $width;
    height: $height;
    background-color: $grain;
    border-radius: 5px;

    div.bannerText {
        line-height: $height;
        font-size: 20pt;
        color: $oxblood;
        text-align: center;
    }
}

div#searchPage {

    height: 97vh;
    h1 {
        text-align: center;
        width: 260px;
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;

        color: $blueLike;
        padding: 20pt;
    }

    // label {
    //     color: $blueLike;
    //     font-size:20pt;
    // }

    input#searchTermInput {
        font-size: 50pt;
        height: 100px;
        background-color: $blackboard;
        color: white;
    }

    div#filters {
        div.filter {
            float: left;

            margin-left: 20px;

            &:first-child {
                margin-left: 0px;
            }

            label {
                font-size: 10pt;
            }

            input {
                font-size: 12pt;
                color: green;
                width: 100px;
            }
        }
    }
}

span.highlight {
    color: red;
}

div#textFilter {
    $fontSize: 16pt;

    label {
        font-size: $fontSize;
        margin-right: 5px;
        &:not(:first-child) {
            margin-left: 100px;
        }
    }

    input[type='text'] {
        display: inline-block;
        color: red;
        font-size: $fontSize;
        width: 200px;
    }

    span#sortDescription {
        display: inline-block;
        font-size: $fontSize;
        margin-left: 100px;
    }
}

div.clear {
    clear: both;
}