$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.buttonGroup {
    margin-top: 10px;

    button {
        margin-right: 10px;
    }
}

img.avatar {
    width: 50px;
    height: 50px;
}

table#repo-results-table {

    thead {
        tr {
            border-left: solid black 1px;
            border-right: solid black 1px;
            border-top: solid black 1px;
            border-bottom: solid black 1px;

            th {
                background-color: black;
                color: gold;
                border-bottom: solid black 1px;
            }
        }
    }
    tbody {
        tr {
            border-left: solid black 1px;
            border-right: solid black 1px;

            td {
                border: none;
                &.repoName {
                    color: darkslateblue;
                    font-weight: bold;
                    font-size: 1.5em;
                }
                &.ownerLogin {
                    a:hover {
                        cursor: pointer;
                    }
                }
            }

            &:nth-child(2n+1) {
                border-top: solid black 1px;
            }
            &:nth-child(4n), &:nth-child(4n-1) {
                background-color: white;
            }
            &:nth-child(4n-2), &:nth-child(4n-3) {
                background-color: azure;
            }
        }
    }
}

table.userTable {
    background-color: yellow;
}